<ul class="list-group" *ngIf="loaded && products.length > 0">
  <li *ngFor="let product of products" [class.list-group-item-secondary]="selectedProduct === product"
    class="list-group-item d-flex justify-content-between align-items-center"
    [class.bg-light]="product.isActive" [style.border-color]="product.isActive ? 'green' : ''">
    <div class="row mb-5">
      <div class="col-sm-8">
        <h3 [ngStyle]="currentStyles"> <a (click)="onSelect(product)" href="#">{{ product.name }}</a>  </h3>
          <ul class="list-group">
            <li class="list-group-item" *ngIf="product.sku">SKU: {{ product.sku }}</li>
            <li class="list-group-item" *ngIf="showExtended && product.brand">Brand: {{ product.brand }}</li>
            <li class="list-group-item" *ngIf="showExtended && product.description">{{ product.description}}</li>
            <li class="list-group-item" *ngIf="showExtended && product.date">Last Modified on: {{ product.date | date: 'short'}}</li>
          </ul>
          <div class="row mt-4">
            <div class="col-sm-2">
              <a (click)="onSelect(product)" class="btn btn-warning pull-right"  href="#">Edit</a>
            </div>
            <div class="col-sm-2">
              <button (click)="onDelete(product)" type="button" class="btn btn-danger pull-right" [hidden]=!product.isActive>Delete</button>
            </div>
          </div>
      </div>
      <div class="col-sm-4 pull-right" >
        <img *ngIf="product.image" class="img-fluid" [src]="product.image" alt="">
      </div>
    </div>
  </li>
</ul>

<div *ngIf="loaded && products.length == 0">
  <h5>There are no products in the system</h5>
</div>

<div *ngIf="!loaded">
  <h5>Loading...</h5>
</div>
