<div class="container">
<h1>Saravana Perumal Ramachandran</h1>
<BR>
<p>
I have 12 years of overall work experience with strong experience in Full Stack application development using Java, JavaScript, and AWS Cloud technologies. I have worked with Banking and financial services before developing customer-facing applications for companies like Citi Bank, Rabo Bank and Samba Bank.
</p>
<p>
  For the past 8 years, I have delivered on multiple projects for clients around the globe managing big in-house and distributed offshore teams. I am self-motivated and am always looking to learn new technologies.
</p>
<p>
I am Certified Scrum Master and have managed agile teams leading the standup meetings, Retrospective and Sprint reviews.
Please find my resume attached herewith.
Please call me at 860 817 9517, to reach out me regarding any questions.
</p>
</div>
